.aboutBox {
    margin-top: 500px;
}

.about-content {
    height: 100dvh;
}

.aboutTitle {
    font-size: clamp(.6em, 1em + 1.4vw, 2.3em);
    word-break: none;
}

.aboutText {
    text-align: justify;
    font-size: clamp(.2em, 1em + 1.2vw, 1.6em);
}


@media screen and (orientation: portrait) {
    .aboutBox {
        margin-top: -40dvh;
    }

    .about-content {
        height: 40dvh;
    }

    .aboutTitle {
        font-size: clamp(.6em, 1em + 1.2vw, .8em);
    }
}

@media screen and (orientation: portrait) and (max-width: 740px) {
    .aboutBox {
        margin-top: -40dvh;
    }

    .about-content {
        height: 40dvh;
    }

    .aboutTitle {
        font-size: clamp(.6em, 1em + 1.2vw, .8em);
    }
}