.contact-title {
    font-size: clamp(1em, 1em + 2vw, 3em);
}

.contact-buton{
    font-size: clamp(1em, 1em + 1.3vw, 3em);
}

@media screen and (orientation: portrait) {
    .contact-title {
        font-size: clamp(1em, 1em + .7vw, 3em);
    }

    .contact-buton{
        font-size: clamp(.7em, 1em + .3vw, .8em);
    }
    
}