@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('./init.css');
@import url('./about.css');
@import url('./vision.css');
@import url('./portifolio.css');
@import url('./contato.css');

body,
html {
  margin: 0;
  padding: 0;
  outline: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (min-width: 3000px) {
  body {
    padding-inline: calc(100dvw - 3000px);
    background-color: #000000;
  }

  .vision-content {
    padding-inline: calc(100dvw - 3000px);
    position: relative;
    right: calc(100dvw - 3000px);
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}